body, menu{
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

div.container{
    display: flex;
    flex-direction: row;
}


menu {
    background-color: rgb(255 255 255);
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin: 0;
    width: 23em;
    min-height: 100vh;
    border-right: 1px solid rgb(232, 232, 232); 

}

div.userdata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232, 232, 232); 
}
div.profile {
    display: flex;
    flex-direction: row;
}

div.photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
img.foto {
    width: 59px;
    border-radius: 4rem;
    margin: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}

div.user_name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0.5rem;
    margin: 0;
    margin-top: 0.4rem;
}

div.newchat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-bottom: 1px solid rgb(232, 232, 232); 
}

button.new_chat {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0px;
    font-size: 13px;
    height: 4em;
    width: 18em;
    background-color: #9147ff;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif !important;
}

button:hover {
    background-color: rgb(205 195 230);
}

div.mensaje:hover{
    background-color: rgb(205 195 230);
    cursor: pointer;

}

button:focus {
    background-color: #e0e0e0;
}

div.actions {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 2rem;
    gap: 1rem;
}

i {
    font-size: 20px;
    color: rgb(195, 196, 197);
}

div.buzon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 2rem;
}

div.fotomensaje1{
    background-image: url(../assets/images/p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}
div.mensaje{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(232, 232, 232); 
}

hr {
    color: rgb(177, 174, 174);
}

h3.username{
    font-size: 1.2rem;
}

p.status{
    font-size: 0.9rem;
    margin-top: -1rem;
}

.description h4, .description p {
    margin: 0.1rem;
}
div.dashboard {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


div.fotomensaje2{
    background-image: url(../assets/images/p2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}


div.fotomensaje3{
    background-image: url(../assets/images/p3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}

div.fotomensaje4{
    background-image: url(../assets/images/p4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}

div.fotomensaje5{
    background-image: url(../assets/images/p5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}

div.fotomensaje6{
    background-image: url(../assets/images/p6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 4rem;
    padding: 1rem;
    margin-right: 1rem;
    border-color: #e0e0e0;
    border-style: solid;
}

div.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.walllogo{
    background-image: url(../assets/images/hand.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 350px;
    border-radius: 4rem;
}
div.welcometext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 28rem;
    text-align: center;
}